<div class="wrapper">

  <div class="header">
    <div class="in-header">
      <div>
        <i class="uil uil-video"></i>
      </div>

      <div class="title">
        Reconocimiento facial <a href="https://www.fabioarias.co" target="_blank"><b style="color:#726addbf">FabioArias</b></a>
      </div>
    </div>
    <div>
      <a href="" target="_blank">
        <i class="uil uil-user-check"></i>
      </a>
    </div>
  </div>

  <router-outlet style="background-color:rgba(217, 213, 245, 0.384)"></router-outlet>

</div>
